[Unit]
Description=Ingress RGPD server

[Service]
ExecStart=/usr/bin/dotnet /opt/IngressRGPD/IngressRGPD.dll
WorkingDirectory=/opt/IngressRGPD/
Restart=always
RestartSec=10                                          # Restart service after 10 seconds if dotnet service cras$
SyslogIdentifier=ImageHuntApi
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:49659

[Install]
WantedBy=multi-user.target
